*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.column.side{
    width: 15%;
}

.column.middle{
    width: 70%;
}
.row::after{
    content: "";
    display: table;
    clear:both;
}

.footer{
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px){
    .column.side, .column.middle{
        width: 100%;
    }
}