.listFilm {
    position: relative;
    top: 10px;
    left: 200px;
    font-size: 80px; 
}

.row{
    position: relative;
    right: 150px;
}

.card {
    position: relative;
    left: 200px;
    width: 300px; 
    border-radius: 20px; 
    overflow: hidden;
    border: 8px solid #fff; 
    margin: 20px; 
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}

.card-img {
    width: 100%; 
    height: 200px; /* Chiều cao cố định cho hình ảnh */
    object-fit: cover; /* Giữ tỷ lệ hình ảnh */
    border-top-left-radius: 20px; /* Bo tròn góc trên bên trái */
    border-top-right-radius: 20px; /* Bo tròn góc trên bên phải */
}

.card-body {
    padding: 15px; /* Khoảng cách giữa nội dung trong card */
    color: #fff; /* Màu chữ trắng */
    background: #1f3d4738; /* Nền trong suốt */
    backdrop-filter: blur(5px); /* Làm mờ nền */
    border-radius: 0 0 20px 20px; /* Bo tròn góc dưới của card */
}

.card-title {
    text-transform: uppercase; /* Chữ in hoa cho tiêu đề */
    font-size: 24px; /* Kích thước chữ cho tiêu đề */
    font-weight: 700; /* Đậm hơn cho tiêu đề */
}

.card-sub-title {
    text-transform: capitalize; /* Chữ thường cho tiêu đề phụ */
    line-height: 14px; /* Khoảng cách dòng */
    font-weight: 300; /* Độ dày chữ nhẹ hơn */
}

.card-info {
    font-size: 16px; /* Kích thước chữ cho thông tin */
    line-height: 25px; /* Khoảng cách dòng cho thông tin */
    margin: 20px 0; /* Khoảng cách trên và dưới */
}

.card-btn {
    color: #fff; /* Màu chữ cho nút */
    background: #1f3d47; /* Màu nền cho nút */
    width: 120px; /* Chiều rộng nút */
    padding: 10px 20px; /* Padding cho nút */
    border-radius: 5px; /* Bo tròn góc cho nút */
    text-transform: capitalize; /* Chữ thường cho nút */
    border: none; /* Không có viền */
    outline: none; /* Không có viền khi chọn */
    font-weight: 500; /* Độ dày chữ cho nút */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background 0.3s; /* Hiệu ứng chuyển động khi hover */
}

.card-btn:hover {
    background: #8fabba; /* Đổi màu nền khi hover */
}
